@import 'src/css/mixins.scss';

// app global css in SCSS form
//-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------
//-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------
//-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------
// for loading page as black and then changing it (dark\light theme stuff)
body {
    background-color: #EFDFBB;
}
//-----------Fonts-----------Fonts-----------Fonts-----------Fonts-----------Fonts-----------Fonts-----------
//-----------Fonts-----------Fonts-----------Fonts-----------Fonts-----------Fonts-----------Fonts-----------
//-----------Fonts-----------Fonts-----------Fonts-----------Fonts-----------Fonts-----------Fonts-----------
@font-face {
  font-family: 'Sunday';
  src: url('./fonts/Sunday-Regular.woff2') format('woff2'),
      url('./fonts/Sunday-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-SemiBoldOblique.woff2') format('woff2'),
      url('./fonts/Involve-SemiBoldOblique.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-Medium.woff2') format('woff2'),
      url('./fonts/Involve-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-SemiBold.woff2') format('woff2'),
      url('./fonts/Involve-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-Bold.woff2') format('woff2'),
      url('./fonts/Involve-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-Regular.woff2') format('woff2'),
      url('./fonts/Involve-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-BoldOblique.woff2') format('woff2'),
      url('./fonts/Involve-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-MediumOblique.woff2') format('woff2'),
      url('./fonts/Involve-MediumOblique.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-Oblique.woff2') format('woff2'),
      url('./fonts/Involve-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}



.font_Sunday {
  font-family: Sunday;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;

  @media (max-width: $media-m) {
    padding: 0 40px;
  }

  @media (max-width: $media-s) {
    padding: 0 20px;
  }
}

img {
  max-width: 100%;
}

//----------- Bootstrap texts
//----------- Bootstrap texts
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.h7 {
  font-size: 0.85rem;
}

.h1_bigger1 {
  font-size: calc(1rem + 1vw);
}

.h1_bigger2 {
  font-size: calc(1.375rem + 2vw);
}

.h1_bigger3 {
  font-size: calc(1.5rem + 2.5vw);
}

.h1_bigger4 {
  font-size: calc(1.75rem + 3vw);
}

.h1_bigger5 {
  font-size: calc(2.25rem + 3.5vw);
}

.h1_bigger6 {
  font-size: calc(2.5rem + 4vw);
}

.h1_bigger7 {
  font-size: calc(3rem + 4.5vw);
}
@media (max-width: 1200px) {
  .h1_bigger1 {
    font-size: calc(12px + 2vw);
  }

  .h1_bigger2 {
    font-size: calc(12px + 3vw);
  }

  .h1_bigger3 {
    font-size: calc(16px + 3vw);
  }

  .h1_bigger4 {
    font-size: calc(18px + 3vw);
  }
  
  .h1_bigger5 {
    font-size: calc(24px + 3vw);
  }
  
  .h1_bigger6 {
    font-size: calc(28px + 3vw);
  }
  
  .h1_bigger7 {
    font-size: calc(36px + 4.5vw);
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Remove spin buttons from number inputs */

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard property for compatibility */
}
//-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------
//-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------
//-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------Basic styling-----------


.fake_header__container {
  width: 100%;
}

.btn {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn--primary {
  @include btn--primary;
}

.btn--stroke {
  @include btn--stroke;
}

.header {
  padding: 20px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  &__btn {
    padding: 14px 16px;
    position: relative;
    display: flex;
    gap: 8px;
    background-color: rgba(239, 223, 187, 1);
    color: $green;
    border: 2px solid $green;
    border-radius: 6px;
    transition: all .3s ease-in-out;

    &:focus-visible,
    &:active {
      color: $light-green;
      border-color: $light-green;

      svg path {
        stroke: $light-green;
      }
      
    }

    svg path {
      transition: stroke .3s ease-in-out;
    }
  

    .btn__text {
      @include desktop-text_regular_20;
      z-index: 2;
    }

    svg {
      z-index: 2;
    }
  }
}